.navbar-default {
	background-color: #b26bba;
	border-color: #8b4b8e;
}

.navbar-default .navbar-brand {
	color: #ebd8ee;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
	{
	color: #ebe2ec;
}

.navbar-default .navbar-text {
	color: #ebd8ee;
}

.navbar-default .navbar-nav>li>a {
	color: #ebd8ee;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #ebe2ec;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
	background-color: #b26bba;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
	color: #ebd8ee;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
	color: #ebe2ec;
	background-color: #8b4b8e;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li.divider {
	background-color: #8b4b8e;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
	color: #ebe2ec;
	background-color: #8b4b8e;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #ebe2ec;
	background-color: #8b4b8e;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: #ebe2ec;
	background-color: #8b4b8e;
}

.navbar-default .navbar-toggle {
	border-color: #8b4b8e;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #8b4b8e;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ebd8ee;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #ebd8ee;
}

.navbar-default .navbar-link {
	color: #ebd8ee;
}

.navbar-default .navbar-link:hover {
	color: #ebe2ec;
}

@media ( max-width : 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ebd8ee;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ebe2ec;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #ebe2ec;
		background-color: #8b4b8e;
	}
}